.possibility-list {
  height: 300px;
  border: 1px solid #aaa;
}

.tetris-grid {
  margin-top: auto;
  margin: auto;
}

.current-considered-possibility {
  color: #495057;
  background-color: #f8f9fa;
}