.possibility-list {
  height: 40rem;
  border: 1px solid #aaa;
}

.tetris-grid-vote {
  padding-top: 1.625rem;
  margin-left: 2.125rem;
}

.tetris-grid-create {
  margin-top: 0.125rem;
  margin-left: 2.0625rem;
}

.next-piece-vote {
  float: initial;
}

.next-piece-I {
  margin-left: 27rem;
  margin-top: -19rem;
}

.next-piece-T {
  margin-left: 27.75rem;
  margin-top: -20rem;
}

.next-piece-J {
  margin-left: 27.5rem;
  margin-top: -20rem;
}

.next-piece-L {
  margin-left: 27.75rem;
  margin-top: -20rem;
}

.next-piece-S {
  margin-left: 27.5rem;
  margin-top: -20rem;
}

.next-piece-Z {
  margin-left: 27.5rem;
  margin-top: -20rem;
}

.next-piece-O {
  margin-left: 28.5rem;
  margin-top: -20rem;
}

.tetris-grid-wrapper {
  width: 36.13rem;
  height: 43.3679rem;
  background-image: url(./background.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.current-text {
  width: 8rem;
  position: relative;
  top: 1.25rem;
  left: 26rem;
}

.current-considered-possibility {
  color: #495057;
  background-color: #f8f9fa;
}

.current-piece {
  left: 25.25rem;
  top: -40.75rem;
  position: relative;
  height: 9rem;
  width: 9rem;
}

.next-piece-create {
  left: 25.875rem;
  top: -35.75rem;
  position: relative;
  height: 9.875rem;
  width: 7.75rem;
}

.create-button {
  position: relative;
  left: 28rem;
  bottom: 32rem;
}

.btn-dark:hover .hidden,
.btn-dark:active .hidden {
  background-color: #23272b;
}

.possibility-item {
  vertical-align: -webkit-baseline-middle;
}

.top-voted-card-is-voted {
  border-color: #343a40;
  border-width: 2px;
}

.top-voted-card-is-previewed {
  background-color: #ddd !important;
  cursor: pointer;
}

.more-results-icon {
  transform: rotate(90deg);
  display: block !important;
  margin: auto;
  fill: #bbb;
  margin-bottom: 4px;
}

.create-border {
  border: 3px solid red;
  box-sizing: content-box;
  border-radius: 3px;
  cursor: pointer;
}

.create-border.complete {
  border-color: green;
}

.create-border.active {
  border-color: orange;
}

.create-tool {
  width: 9rem;
  height: 9rem;
  text-align: center;
  border: 2px solid #aaa;
  background-color: #eee;
  cursor: pointer;
}

.create-tool.selected,
.create-tool.selected:hover,
.create-tool:active {
  background-color: #ccc;
}

.create-tool:hover {
  background-color: #ddd;
}

.piece-select-grid,
.center-tool {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}