.possibility-list {
  height: 30rem;
  border: 1px solid #aaa;
}

.current-text {
  width: 8rem;
  position: relative;
  top: 1.25rem;
  left: 26rem;
}

.current-considered-possibility {
  color: #495057;
  background-color: #f8f9fa;
}

.current-piece {
  position: relative;
}

.next-piece-create {
  position: relative;
}

.create-button {
  position: relative;
}

.btn-dark:hover .hidden,
.btn-dark:active .hidden {
  background-color: #23272b;
}

.possibility-item {
  vertical-align: -webkit-baseline-middle;
}

.top-voted-card-is-voted {
  border-color: #343a40;
  border-width: 2px;
}

.top-voted-card-is-previewed {
  background-color: #ddd !important;
  cursor: pointer;
}

.more-results-icon {
  transform: rotate(90deg);
  display: block !important;
  margin: auto;
  fill: #bbb;
  margin-bottom: 4px;
}

.create-border {
  border: 3px solid red;
  box-sizing: content-box;
  border-radius: 3px;
  cursor: pointer;
}

.create-border.complete {
  border-color: green;
}

.create-border.active {
  border-color: orange;
}

.create-tool {
  width: 9rem;
  height: 9rem;
  text-align: center;
  border: 2px solid #aaa;
  background-color: #eee;
  cursor: pointer;
}

.create-tool.selected,
.create-tool.selected:hover,
.create-tool:active {
  background-color: #ccc;
}

.create-tool:hover {
  background-color: #ddd;
}

.piece-select-grid,
.center-tool,
.upload-button-wrapper input,
.loading-page-col {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-cropper {
  height: 40rem;
  width: 20rem;
}

.modal-dialog {
  max-width: 44rem;
  max-height: 40rem;
}

.upload-button-wrapper {
  text-align: center;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  height: 100%;
}

.upload-button-wrapper input {
  width: 12rem;
}

.error-page-col,
.loading-page-col {
  text-align: center;
}

.error-page-block {
  cursor: pointer;
  width: 10rem;
  border-radius: 5px;
  padding: 0.25rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
}

.error-page-block:hover {
  background-color: #ddd;
}

.board-title {
  margin: auto;
  text-align: center;
}

.board-title-buttons {
  margin-right: 0.25rem;
}

.board-title-container {
  display: flex;
  justify-content: center;
}