.possibility-list {
  height: 40rem;
  border: 1px solid #aaa;
}

.tetris-grid {
  padding-top: 1.625rem;
  margin-left: 3.1rem;
}

.next-piece {
  float: initial;
}

.next-piece-I {
  margin-left: 28rem;
  margin-top: -19rem;
}

.next-piece-T {
  margin-left: 28.75rem;
  margin-top: -20rem;
}

.next-piece-J {
  margin-left: 28.5rem;
  margin-top: -20rem;
}

.next-piece-L {
  margin-left: 28.75rem;
  margin-top: -20rem;
}

.next-piece-S {
  margin-left: 28.5rem;
  margin-top: -20rem;
}

.next-piece-Z {
  margin-left: 28.5rem;
  margin-top: -20rem;
}

.next-piece-O {
  margin-left: 29.5rem;
  margin-top: -20rem;
}

.tetris-grid-wrapper {
  width: 36.13rem;
  height: 43.3679rem;
  background-image: url(./background.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.current-text {
  width: 8rem;
  margin-left: 26rem;
  margin-top: 1.5rem;
}

.current-considered-possibility {
  color: #495057;
  background-color: #f8f9fa;
}

.current-piece-select {
  float: right;
  bottom: 13rem;
  right: 0;
}

.next-piece-select {
  float: right;
  bottom: 4rem;
  right: 5rem;
}

.toggle-switch {
  float: right;
  bottom: 12.75rem;
  right: -21rem;
}

.toggle-switch label {
  color: white;
}

.piece-select-dropdown .tetris-grid {
  display: inline-block;
}

.dropdown-toggle {
  border: none;
  width: 8rem;
}

.dropdown-toggle .hidden {
  background-color: #343a40;
}

.btn-dark:hover .hidden,
.btn-dark:active .hidden {
  background-color: #23272b;
}

.possibility-item {
  vertical-align: -webkit-baseline-middle;
}